<br />
<form action="/Home/AddUser">
    <label for="firstname">First name:</label><br>
    <input type="text" name="firstname" placeholder="John" required><br><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" name="lastname" placeholder="Smith" required><br><br>
    <label for="email">Email: </label><br>
    <input type="email" name="email" placeholder="johnsmith@domain.com" required><br><br>
    <label for="pnum">Phone Number:</label><br>
    <input type="phone number" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br>
    <label for="pwd">Password:</label><br>
    <input type="password" name="pwd" minlength="8" placeholder="minimum 8 characters" required><br><br>
    <input type="submit" value="Register">
</form>
<br />